src/info-extraction-module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.zorba-xquery.com/modules/info-extraction-module" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zorba-xquery.com/modules/info-extraction-module">
	
	<xs:simpleType name="ST_entity">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="wikipedia_url" type="xs:string"/>
	
	<xs:element name="entity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_entity">
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="start" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="end" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="entities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity"/>
				<xs:element ref="wikipedia_url" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="concept">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity"/>
				<xs:element ref="wikipedia_url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="concepts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="concept" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="category">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
